<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDato.Properties.Settings.webIIConnectionString"
            connectionString="Data Source=DESKTOP-OKDT56S;Initial Catalog=webII;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>